{% extends 'base.html' %}

{% block title %} Lista de Tarefas {% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
        <h1>Aqui é sua lista de tarefas</h1>
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar Tarefa
        </div>
        <div class="col-9 search-div">
            <input type="text" name="search" id="search" placeholder="Procure uma tarefa..."><i class="fas fa-search"></i>
        </div>
        <ul class="task-list">
            <li class="task-item">
                <div>
                    <span>Titulo da tarefa</span>
                </div>
                <div>
                    <span><i class="fas fa-trash"></i></span>
                    <span><i class="fas fa-edit"></i></span>
                </div>
            </li>
            <li class="task-item">
                <div>
                    <span>Titulo da tarefa</span>
                </div>
                <div>
                    <span><i class="fas fa-trash"></i></span>
                    <span><i class="fas fa-edit"></i></span>
                </div>
            </li>
            <li class="task-item">
                <div>
                    <span>Titulo da tarefa</span>
                </div>
                <div>
                    <span><i class="fas fa-trash"></i></span>
                    <span><i class="fas fa-edit"></i></span>
                </div>
            </li>
            <li class="task-item">
                <div>
                    <span>Titulo da tarefa</span>
                </div>
                <div>
                    <span><i class="fas fa-trash"></i></span>
                    <span><i class="fas fa-edit"></i></span>
                </div>
            </li>
            <li class="task-item">
                <div>
                    <span>Titulo da tarefa</span>
                </div>
                <div>
                    <span><i class="fas fa-trash"></i></span>
                    <span><i class="fas fa-edit"></i></span>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}