.container-fluid{
    padding: 0;
}

/* NAVBAR */
.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav a.nav-link:hover{
    color: #111;
}

/* BOTAO DE ADICIONAR */
.section-add-search{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 30px 0px;
}
.add-div{
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in;
}
.add-div:hover{
    background-color: #316dce;
}
.search-div input{
    width: 100%;
    position: relative;
    padding: 3px;
}
.search-div i{
    position: absolute;
    transform: translate(-25px, 8px);
    cursor: pointer;
}
.search-div input:focus{
    outline: #333;
}
.fas.fa-plus{
    color: #fff;
    margin-right: 5px;
}

/* LISTA DE TAREFAS */
.list-div{
    padding: 0;
}
.task-list{
    padding-left: 0;

}
.task-item{
    font-size: 20px;
    height: 50px;
    list-style: none;
    margin-top: 10px;
    border: 1px dashed #999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.fas.fa-trash, .fas.fa-edit{
    margin: 5px;
    cursor:pointer
}
.fas.fa-trash{
    color: #db1e47;
}
.fas.fa-edit{
    color: #13c4ef;
}

/* RODAPÉ */
footer{
    background-color: #333;
    height: 100px;
    border: 1px solid #202020;
    margin-top: 80px;
}
footer p {
    color: #f5f5f5;
    text-align: center;
    top: 35%;
    position: relative;
}